

h1 {
    color: white
    
}

h2 {
    color: white
}

body, .diagonal-gradient {
 background-image:linear-gradient(to bottom right,#855988 10%,#855988 20%,#483475 40%,#2B2F77 50%,#141852 90%,#070B34 100% );
}

img {
 
  width: 471.500;
  height: 1936;
}

p{
    color: white;
}
.sport{
  margin-left: auto;
  margin-right: 20em;
  width: 16em
}

.button { 
    background-color: #2B2F77;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropbtn {
    background-color: #2B2F77;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #483475;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #855988;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #2B2F77;}

  button {
    background-color: #2B2F77;
    color: white;
    text-emphasis-color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  button:visited{text-decoration: none;
    color: white;
  }
  button:hover {text-decoration: none; color: white;}
  button:focus {text-decoration: none; color: white;}
  button:active {text-decoration: none; color: white;}

